# CI and PR triggers
trigger:
- master
- feature/*
pr:
- master
- feature/*

# Variables
variables:
  - name: _TeamName
    value: DotNetInteractive
  - name: _BuildConfig
    value: Release
  - name: _PublishUsingPipelines
    value: true
  - name: _DotNetArtifactsCategory
    value: .NETCore
  - name: DotNetSdkVersion
    value: '3.1.200'
  - name: TryDotNetPackagesPath
    value: $(Build.SourcesDirectory)/artifacts/.trydotnet/packages
  - name: NodeJSVersion
    value: '12.16.1'

stages:
- stage: build
  displayName: Build and Test
  jobs:
  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishTestResults: true
      enablePublishBuildAssets: true
      enablePublishUsingPipelines: $(_PublishUsingPipelines)
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: Windows_NT
        pool:
          ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
            vmImage: windows-2019
          ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
            name: NetCoreInternal-Pool
            queue: buildpool.windows.10.amd64.vs2019
        variables:
        # Enable signing for internal, non-PR builds
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - group: DotNet-Blob-Feed
          - group: DotNet-Symbol-Server-Pats
          - name: _SignType
            value: Real
          - name: _DotNetPublishToBlobFeed
            value: true
          - name: _BuildArgs
            value: /p:SignType=$(_SignType)
                   /p:DotNetSignType=$(_SignType)
                   /p:MicroBuild_SigningEnabled=true
                   /p:OverridePackageSource=https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
                   /p:TeamName=$(_TeamName)
                   /p:DotNetPublishBlobFeedKey=$(dotnetfeed-storage-access-key-1)
                   /p:DotNetPublishBlobFeedUrl=https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
                   /p:DotNetPublishToBlobFeed=true
                   /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
                   /p:DotNetArtifactsCategory=$(_DotNetArtifactsCategory)
                   /p:DotNetSymbolServerTokenMsdl=$(microsoft-symbol-server-pat)
                   /p:DotNetSymbolServerTokenSymWeb=$(symweb-symbol-server-pat)
                   /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                   /p:PublishToSymbolServer=true
        # else
        - ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
          - name: _SignType
            value: Test
          - name: _BuildArgs
            value: /p:SignType=$(_SignType)
        steps:
        - script: git config --global core.longpaths true
          displayName: Enable `git clean` to handle long paths

        - checkout: self
          clean: true

        - task: NodeTool@0
          displayName: Add NodeJS/npm
          inputs:
            versionSpec: $(NodeJSVersion)        

        - task: UseDotNet@2
          displayName: Add dotnet 3.0
          inputs:
            packageType: sdk
            version: $(DotNetSdkVersion)
            installationPath: $(Agent.ToolsDirectory)\dotnet

        - script: |
            robocopy "eng\resources" "$(Build.SourcesDirectory)\artifacts"
            :: robocopy return codes are terrible; 1 means files were copied
            if "%errorlevel%" == "1" exit /b 0
            exit /b 1
          displayName: Prevent test directory crawling

        - script: eng\CIBuild.cmd
            -configuration $(_BuildConfig)
            -prepareMachine
            -sign
            -test
            $(_BuildArgs)
          displayName: Build / Test
          env:
            TRYDOTNET_PACKAGES_PATH: $(TryDotNetPackagesPath)

        - script: npm run test
          displayName: NPM tests
          workingDirectory: "$(Build.SourcesDirectory)/Microsoft.DotNet.Interactive.Js"

        - script: npm i
          displayName: Install NPM packages for VS Code extension
          workingDirectory: "$(Build.SourcesDirectory)/dotnet-interactive-vscode"

        - script: npm run ciTest
          displayName: Run VS Code extension tests
          workingDirectory: "$(Build.SourcesDirectory)/dotnet-interactive-vscode"

        - task: PublishTestResults@2
          displayName: Publish VS Code Extension Test Results
          inputs:
            testResultsFormat: VSTest
            testResultsFiles: '**/*.trx'
            searchFolder: '$(Build.SourcesDirectory)/artifacts/TestResults'
          condition: always()

        - pwsh: |
            # Use the `$env:BUILD_BUILDNUMBER` variable to generate a date-stamped version and export to AzDO
            # Mimicking the behavior from https://github.com/dotnet/arcade/blob/fb38e16fba5afa5fe39013082b6049621149dc10/src/Microsoft.DotNet.Arcade.Sdk/tools/Version.BeforeCommonTargets.targets#L46-L64
            $buildId = $env:BUILD_BUILDNUMBER
            $year = $buildId.Substring(2, 2) -as [int]
            $month = $buildId.Substring(4, 2) -as [int]
            $day = $buildId.Substring(6, 2) -as [int]
            $perDay = $buildId.Substring(9) -as [int]
            $dateStamp = ($year * 1000) + ($month * 50) + $day
            $patchNumber = (($dateStamp - 19000) * 100) + $perDay
            $extensionVersion = "1.0.$patchNumber"
            Write-Host "##vso[task.setvariable variable=VSCodeExtensionVersion]$extensionVersion"
          displayName: Generate VS Code Extension version

        - script: npm version '$(VSCodeExtensionVersion)' && npx vsce package --out "$(Build.SourcesDirectory)\artifacts\packages\dotnet-interactive-vscode.vsix"
          displayName: Build VS Code Extension
          workingDirectory: "$(Build.SourcesDirectory)/dotnet-interactive-vscode"

        # Prevent symbols packages from being saved in the following `packages` artifact because they're incomplete.
        # See `eng/AfterSolutionBuild.targets:StripFilesFromSymbolPackages` for details.
        - script: del /S $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\*.symbols.nupkg
          displayName: Clean symbol packages

        - task: PublishBuildArtifacts@1
          displayName: Publish packages to artifacts container
          inputs:
            pathToPublish: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)
            artifactName: packages
            artifactType: container

  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enablePublishBuildArtifacts: true
      enablePublishTestResults: true
      enablePublishBuildAssets: false
      enablePublishUsingPipelines: false
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: Linux
        pool:
          vmImage: ubuntu-16.04
        variables:
        # Enable signing for internal, non-PR builds
        - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
          - name: _SignType
            value: Test
          - name: _BuildArgs
            value: /p:SignType=$(_SignType)
              /p:DotNetSignType=$(_SignType)
              /p:OverridePackageSource=https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json
              /p:TeamName=$(_TeamName)
              /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
        # else
        - ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
          - name: _SignType
            value: Test
          - name: _BuildArgs
            value: /p:SignType=$(_SignType)
        steps:
        - script: git config --global core.longpaths true
          displayName: Enable `git clean` to handle long paths

        - checkout: self
          clean: true

        - task: NodeTool@0
          displayName: Add NodeJS/npm
          inputs:
            versionSpec: $(NodeJSVersion)

        - task: UseDotNet@2
          displayName: Add dotnet 3.0
          inputs:
            packageType: sdk
            version: $(DotNetSdkVersion)
            installationPath: $(Agent.ToolsDirectory)/dotnet

        - script: |
            mkdir -p "$(Build.SourcesDirectory)/artifacts"
            cp eng/resources/* "$(Build.SourcesDirectory)/artifacts"
          displayName: Prevent test directory crawling

        - script: ./eng/cibuild.sh
            --configuration $(_BuildConfig)
            --prepareMachine
            --test
          displayName: Build / Test
          env:
            TRYDOTNET_PACKAGES_PATH: $(TryDotNetPackagesPath)

        - script: npm run test
          displayName: NPM tests
          workingDirectory: "$(Build.SourcesDirectory)/Microsoft.DotNet.Interactive.Js"

  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: Dockerfile_official_image
        pool:
          vmImage: ubuntu-16.04
        steps:
        - checkout: self
          clean: true
        - task: Docker@2
          displayName: Build official Dockerfile
          inputs:
            command: build
            Dockerfile: "$(Build.SourcesDirectory)/docker-image/Dockerfile"

  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: Dockerfile_Main
        pool:
          vmImage: ubuntu-16.04
        steps:
        - checkout: self
          clean: true
        - task: Docker@2
          displayName: Build main Dockerfile
          inputs:
            command: build
            Dockerfile: "$(Build.SourcesDirectory)/Dockerfile"

  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: Dockerfile_Binder_Dependency
        pool:
          vmImage: ubuntu-16.04
        steps:
        - checkout: self
          clean: true
        - task: Docker@2
          displayName: Build Binder dependency Dockerfile
          inputs:
            command: build
            Dockerfile: "$(Build.SourcesDirectory)/Binder Dependencies/Dockerfile"

  - template: /eng/common/templates/jobs/jobs.yml
    parameters:
      enableMicrobuild: true
      enableTelemetry: true
      helixRepo: dotnet/interactive
      jobs:
      - job: IntegrationTest
        dependsOn: Windows_NT
        condition: succeeded()
        pool:
          vmImage: ubuntu-16.04
        variables:
        # specify tool version on public CI builds
        - ${{ if eq(variables['System.TeamProject'], 'public') }}:
          - name: ToolVersionArgs
            value: --version 1.0.0-ci
        # else
        - ${{ if ne(variables['System.TeamProject'], 'public') }}:
          - name: ToolVersionArgs
            value: ''
        steps:
        - checkout: self
          clean: true
        - task: UseDotNet@2
          displayName: Add dotnet 3.0
          inputs:
            packageType: sdk
            version: $(DotNetSdkVersion)
            installationPath: $(Agent.ToolsDirectory)/dotnet
        - task: DownloadBuildArtifacts@0
          displayName: Download built packages
          inputs:
            artifactName: packages
            downloadPath: $(Build.ArtifactStagingDirectory)
        - script: echo "<configuration><packageSources><clear /></packageSources></configuration>" > "$(Build.ArtifactStagingDirectory)/NuGet.config"
          displayName: Generate empty NuGet.config
        - script: dotnet tool install -g --configfile "$(Build.ArtifactStagingDirectory)/NuGet.config" $(ToolVersionArgs) --add-source "$(Build.ArtifactStagingDirectory)/packages/Shipping" Microsoft.dotnet-interactive
          displayName: Install global tool
        - script: dotnet interactive --version
          displayName: Write version
        - script: dotnet test
            "$(Build.SourcesDirectory)/dotnet-interactive.IntegrationTests/dotnet-interactive.IntegrationTests.csproj"
            --logger "trx;LogFileName=$(Build.ArtifactStagingDirectory)/TestResults/IntegrationTests.trx"
          displayName: Execute integration tests
          env:
            INTEGRATION_TEST_RUN: true
        - task: PublishTestResults@2
          displayName: Publish Test Results
          inputs:
            testResultsFormat: VSTest
            testResultsFiles: '**/*.trx'
            searchFolder: '$(Build.ArtifactStagingDirectory)/TestResults'
          condition: always()

#---------------------------------------------------------------------------------------------------------------------#
#                                                    Post Build                                                       #
#---------------------------------------------------------------------------------------------------------------------#
- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: eng/common/templates/post-build/post-build.yml
    parameters:
      # Symbol validation is not entirely reliable as of yet, so should be turned off until https://github.com/dotnet/arcade/issues/2871 is resolved.
      enableSymbolValidation: false
      # SourceLink improperly looks for generated files.  See https://github.com/dotnet/arcade/issues/3069
      enableSourceLinkValidation: false

#---------------------------------------------------------------------------------------------------------------------#
#                                                  Package upload                                                     #
#---------------------------------------------------------------------------------------------------------------------#
- ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
  - template: eng/upload/upload-packages.yml
    parameters:
      branchToUpload: refs/heads/master
