.vscode/**
node_modules/**
out/tests/**
src/**
tests/**
userData/**
.eslintignore
.eslintrc.json
.gitignore
.vscodeignore
DEVGUIDE.md
rollup.config.js
testConfig.json
tsconfig.json
update-api.ps1
update-versions.ps1
UPDATING-TO-NEW-VERSION-OF-STABLE.md
vscodeStableVersion.txt
wallaby.js
